<div class="container-fluid" id="container">
  <h1 class="text-center">Users List</h1>
  <table class="table mt-4 table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Address</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.contact %></td>
          <td><%= user.address %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>